
/* =========================
   PALETA DE CORES
========================= */
:root {
    --color1: #ccb24c;   /* Dourado */
    --color2: #f7d683;   /* Amarelo claro */
    --color3: #fffdc0;   /* Creme */
    --color4: #fffffd;   /* Branco quase puro */
    --color5: #457d97;   /* Azul */
}

/* =========================
   IMPORTAÇÃO DE FONTES
========================= */
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/* =========================
   FONTE MACONDO
========================= */
.macondo-regular {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}

/* =========================
   ESTILO GLOBAL
========================= */
body {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color4);
    font-family: "Macondo", cursive;
}

/* =========================
   MENU E NAVEGAÇÃO
========================= */
.menu-barra {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0 4px 24px var(--color1);
}
.cute-img {
   
}
@media (max-width: 800px) {
    .cute-img {
        width: 150px;
        margin-right: 2px;
    }
}
.navegacao {
    box-sizing: border-box;
    text-align: center;
    font-family: "Macondo", cursive;
    font-weight: 400;
    
}
.navegacao a {
    color: #641e1e;
    transition: color 0.3s, font-size 0.3s, text-shadow 0.3s;
}
.navegacao a:hover {
    color: var(--color5);
    font-size: 1.3em;
    text-shadow: 0 4px 10px #87bedf;
}
/* =========================
   CABEÇALHO
========================= */
.capa{
    background-image: url(capa.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    opacity: calc(0.8);
}

header {
    text-align: center;
    color: #641e1e;
    margin-bottom: 20px;
    box-shadow: 0 4px 24px var(--color1);
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 10px 0;
    color: #641e1e;
    text-shadow: 0 4px 10px #87bedf;
}